<div class="nav-bottom">
    <nav class="white">
        <div class="nav-wrapper container">
            <div class="row center">
                <div class="col s12">
                    <ul class="center">
                        <div class="col s3">
                            <li class=""><a href="/"><i class="fas fa-home"></i></a></li>
                        </div>
                        <div class="col s3">
                            <li><a href="/auth/albums"><i class="fas fa-folder"></i></a></li>

                        </div>
                        <div class="col s3">
                            <li><a href="/profile"><i class="fas fa-user-circle"></i></a></li>

                        </div>
                        <div class="col s3">
                            <li><a href=""><i class="fas fa-plus-circle"></i></a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>