// COLOR
$bgColor: #f1f1f1;
$bgLogin2: #0e0e0e;
$bgColor2: #3b3b3b;
$yellowColor: #ffc34b;
$grayColor: #3b3b3b;
// FONT
@font-face {
  font-family: "Script"; /*a name to be used later*/
  src: url("../fonts/ScriptMT/SCRIPTBL.ttf"); /*URL to font*/
  font-family: "Kaushan Script";
  src: url("../fonts//KaushanScript/KaushanScript-Regular.ttf");
}
$iconsText: 30px;
$titleAlbumsText: 40px;
$subTitleText: 16px;
$footerText: 20px;
$titleText: 20px;
$subHeaderText: 20px;
$navText: 24px;
//IMAGE
$bgImages: "../images/background (3).png";

html,
body {
  font-family: "Script";
  background: $bgColor;
  overflow: hidden;
}

// NAVBAR
.navbar-fixed {
  nav {
    background: transparent;
    box-shadow: none;
    .nav-wrapper {
      a {
        color: $bgColor2;
        font-size: $navText;
      }
      li {
        color: $bgColor2;
      }
    }
  }
}

// ICON-LOGO
.icon-logo {
  padding: 130px 0px 0px 0px;
  p{
    font-size: $subTitleText;
  }
  .btn{
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 37px;
    line-height: 36px;
    width: 100%;
    border-radius: 25px;
    padding: 0 16px;
    margin-top: 76px;
    text-transform: capitalize;
    background: $yellowColor;
    color: $grayColor;
    width: 193px;
  }
}

// OPPS-BSACKGROUND
.opps-background{
  height: 270px;
  position: absolute;
  bottom: -54px;
  left: 0;
  .container-fluid{
    .row{
      .col{
        padding: 0px;
        img{
          height: 120%;
          width: 100%;
        }

      }
    }
  }
  
}