// COLOR
$bgColor: #f1f1f1;
$bgLogin2: #0e0e0e;
$bgColor2: #3b3b3b;
$yellowColor: #ffc34b;
$grayColor: #3b3b3b;
$subTitleColor: #757575;
// FONT
@font-face {
  font-family: "Script"; /*a name to be used later*/
  src: url("../fonts/ScriptMT/SCRIPTBL.ttf"); /*URL to font*/
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript/KaushanScript-Regular.ttf");
}
$iconsText: 30px;
$titleAlbumsText: 40px;
$subTitleText: 12px;
$footerText: 20px;
$titleText: 20px;
$subHeaderText: 20px;
$navText: 24px;
//IMAGE
$bgImages: "../images/background (3).png";

html,
body {
  font-family: "Script";
  background: $bgColor;
}

// NAVBAR
.menu {
  overflow: hidden;
  width: 100%;
  background-image: url($bgImages);
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .navbar-fixed {
    nav {
      background: transparent;
      border-radius: 0px 0px 10px 10px;
      .container {
        span {
          font-family: "Kaushan Script";
          i {
            margin: 0px 7px;
            color: white;
            span {
              font-family: "Kaushan Script";
              font-size: $navText;
              color: white;
            }
          }
        }
      }
    }
  }
}

// PHOTO-INFO
.photo-info {
  height: 900px;
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 3px 6px 16% #888888;
  padding: 0px 5%;
  position: absolute;
  top: 180px;
  left: 0;
  .avatar {
    padding-top: 10%;
    .image-block {
      .circular--landscape {
        display: inline-block;
        position: relative;
        height: 50px;
        width: 50px;
        overflow: hidden;
        border-radius: 50%;
      }

      .circular--landscape img {
        width: auto;
        height: 100%;
      }
      .circular--portrait {
        border: 2px solid white;
        box-shadow: 0px 2px 6px $bgColor2;
        position: relative;
        height: 50px;
        width: 50px;
        overflow: hidden;
        border-radius: 50%;
      }
      .circular--portrait img {
        width: 100%;
        height: auto;
      }
      img {
        height: 54px;
        width: 54px;
      }
    }
    .avatar-info {
      .s9 {
        p {
          margin: 0px 10px;
        }
        p.name {
          margin-top: 8px;
        }
      }
    }
    .s4 {
      margin-top: 10px;
      .btn-small {
        text-transform: capitalize;
        border-radius: 5px;
        background: $yellowColor;
      }
    }
  }
  p {
    font-size: $subTitleText;
    font-family: "Montserrat", sans-serif;
    margin: 11px 5px 5px 5px;
    color: $subTitleColor;
  }
  .subtile {
    font-weight: 500;
  }
  .time {
    font-weight: 300i;
  }
  h4 {
    font-family: "Kaushan Script";
    margin: 0px;
    font-size: $titleText;
  }
  .left {
    .btn {
      font-family: "Kaushan Script";
      border: none;
      border-radius: 2px;
      display: inline-block;
      height: 37px;
      line-height: 36px;
      width: 100%;
      border-radius: 25px;
      padding: 0 16px;
      text-transform: capitalize;
      background: $yellowColor;
      color: $grayColor;
      width: 100%;
    }
  }
  .photo-box {
    padding: 0px 5%;
    p {
      font-family: "Kaushan Script";
      margin: 0px;
    }
  }
}
