<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Page Not Found</title>
	<!-- materialize icons, css & js -->
	<link href="css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese"
		rel="stylesheet">
	<link href="./css/page-not-found.css" rel="stylesheet">
	<link rel="stylesheet" href="./fonts/ScriptMT/font.css">
</head>

<body>
	<div class="icon-logo">
		<div class="container">
			<div class="row">
				<div class="col s12 center">
					<img src="images/opps.png" alt="">
					<p>Please check your internet connection! </p>
					<a class="btn waves-effect waves-light" href="#">Go to home!</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end icon-logo  -->

	<div class="opps-background">
		<div class="container-fluid">
			<div class="row">
				<div class="col s12">
					<img src="images/oppsBg.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/77d5e8e104.js"></script>
	<script src="./js/materialize.min.js"></script>
	<script src="./js/upload.js"></script>
</body>

</html>