<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<!-- materialize icons, css & js -->
	<link href="css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese"
		rel="stylesheet">
	<link href="./css/profile.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./fonts/ScriptMT/font.css">
</head>

<body>
	<div class="menu">
		<div class="navbar-fixed">
			<nav class="z-depth-0">
				<div class="nav-wrapper container">
					<span class="left white-text text-darken-1">
						<i onclick="goBack()" class="material-icons fas fa-chevron-left"><span> Profile</span></i>
					</span>
					<span class="right white-text text-darken-1">
						<i class="material-icons sidenav-trigger" data-target="search-menu">search</i>
						<i class="material-icons sidenav-trigger" data-target="side-menu">menu</i>
					</span>
				</div>
			</nav>
		</div>
	</div>
	<!-- side nav -->
	<ul id="side-menu" class="sidenav side-menu">
		<li class="title"><a href="/" class="subheader">Spical</a></li>
		<li><a href="/pages/about.html" class="waves-effect">About</a></li>
		<li><a href="/pages/contact.html" class="waves-effect">Contact</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<% if (user) {%>
		<li>
			<a href="/auth/logout" class="waves-effect">Logout</a>
		</li>
		<% } %>
	</ul>
	<!-- end sidebar -->
	<div class="avatar">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="<%= user.thumbnail %>" alt="">
						</div>
					</div>
					<div class="name">
						<p class=""><%= user.username%></p>
						<p class="sub-name">@kc_spical</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="slide-image">
		<div class="container">
			<div class="row">
				<div class="col s10 m12 l12 xl12">
					<p><%= user.username%></p>
					<div class="images">
						<div class="text">
							<p>November 2019 -------------</p>
						</div>
					</div>
				</div>
				<div class="col s2">
					<div id="test-slider"></div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="gallery">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<p>Gallery</p>
				</div>
			</div>
			<div class="row">
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (1).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Girl</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (1).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Love</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (3).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Family</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (3).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Family</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (3).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Family</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (1).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Family</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (1).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Family</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (1).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Family</p>
					</div>
				</div>
				<div class="col s4">
					<div class="image-block">
						<div class="circular--portrait ">
							<img src="images/background (1).jpg" alt="">
						</div>
						<div class="bg-file">
							<div class="text">
								<p class="file">6.2k files</p>
							</div>
							<div class="blur"></div>
						</div>
						<p class="name">Family</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end gallery -->

	<% include template/footer %>
	<script src="./js/nouislider.js"></script>
	<script src="https://kit.fontawesome.com/77d5e8e104.js"></script>
	<script src="./js/materialize.min.js"></script>
	<script src="./js/profile.js"></script>
</body>

</html>