<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<!-- materialize icons, css & js -->
	<link href="css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="./css/register.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col s12 logo">
				<p class="flow-text">Spical</p>
			</div>
		</div>
		<div class="row">
			<div class="col s12 content">
				<h4>Register</h4>
				<p>The whole world in the photos</p>
			</div>
		</div>
		<div class="row">
			<!-- hiển thị mọi tin nhắn được trả lại từ server cho việc đăng ký -->
			<form action="/auth/register" method="POST">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input name="username" type="text" id="autocomplete-input" class="autocomplete">
							<label for="autocomplete-input">Username</label>
						</div>
					</div>
				</div>
				<div class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input name="email" type="text" id="autocomplete-input" class="autocomplete">
							<label for="autocomplete-input">Email</label>
						</div>
					</div>
				</div>
				<div class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input name="password" type="text" id="autocomplete-input" class="autocomplete">
							<label for="autocomplete-input">Password</label>
						</div>
					</div>
				</div>
				<div class="col s12 submit">
					<div class="row">
						<div class="col s12 go">
							<button type="submit" class="btn waves-effect waves-light white black-text">Sign in</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer class=" container signup">
		<div class="row">
			<div class="col s12">
				<a href="/auth/login" class="center white-text">Copyright by Spical 2019</a>
			</div>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/77d5e8e104.js"></script>
	<script src="./js/materialize.min.js"></script>
	<script src="./js/register.js"></script>
</body>

</html>