<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<!-- materialize icons, css & js -->
	<link href="css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese"
		rel="stylesheet">
	<link href="./css/upload-info.css" rel="stylesheet">
	<link rel="stylesheet" href="./fonts/ScriptMT/font.css">
</head>

<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Upload</a>
				<ul id="nav-mobile2" class="left">
					<li><a href="sass.html"><i class="material-icons fas fa-chevron-left"></i></a></li>
				</ul>
				<ul id="nav-mobile2" class="right">
					<li><a href="sass.html"><i class="material-icons sidenav-trigger"
								data-target="side-menu">menu</i></a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- side nav -->
	<ul id="side-menu" class="sidenav side-menu">
		<li class="title"><a class="subheader">Spical</a></li>
		<li><a href="/" class="waves-effect">Profile</a></li>
		<li><a href="/pages/about.html" class="waves-effect">About</a></li>
		<li><a href="/pages/contact.html" class="waves-effect">Contact</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a href="/pages/contact.html" class="waves-effect">
				<i class="material-icons">mail_outline</i>Sign up</a>
		</li>
	</ul>
	<!-- end sidebar -->

	<div class="icon-logo">
		<div class="container">
			<div class="row">
				<div class="col s12 center">
					<img src="images/upload2.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- end icon-logo -->

	<div class="create-upload">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h5 class="center">Upload file</h5>
					<p class="center">Browse and choose files
						you want to upload</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end create-upload -->

	<div class="info-input">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="input-field">
						<i class="fas fa-tag prefix"></i>
						<input placeholder="Tags name" id="icon_telephone" type="text" class="validate">
					</div>
					<div class="input-field">
						<i class="fas fa-map-marker prefix"></i>
						<input placeholder="Location" id="icon_telephone" type="text" class="validate">
					</div>
					<div class="time">
						<div class="col s6">
							<p><i class="fas fa-clock"></i> 22h01</p>
						</div>
						<div class="col s6">
							<p class="right" <i class="fas fa-calendar"></i> September 10th 2019</p>
						</div>
						<a class="btn waves-effect waves-light" href="#">Submit</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/77d5e8e104.js"></script>
	<script src="./js/materialize.min.js"></script>
	<script src="./js/upload.js"></script>
</body>

</html>